.tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e7eef3;
    margin-top: 1rem;
}

.tabs .label {
    order: 1;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: #f1f5f8;
    transition: background ease 0.2s;
}

.tabs .tab {
    padding-top: 0.3rem;
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 0.6rem 1rem 2rem;
    color: #576575;
    background: #fff;
    border-width: 0px  1px 1px 1px;
    border-style: solid;
    border-color: #e7eef3;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    color: #29323d;
    background: #fff;
    background-clip: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
    background-clip: padding-box;
    border-radius: 1px 1px 0 0;
    border: solid rgba(0, 0, 20, 0.1);
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 1px 1px 0;
    z-index: 1;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}

.seofields-google-result > div {
    cursor: pointer;
    width: 100%;
}

.seofields-google-result__headline {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #1a0dab;
}

.seofields-google-result__link {
    color: #006621;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    width: auto;
    zoom: 1;
}

.seofields-google-result {
    font-family: arial, sans-serif;
    max-width: 600px;
    padding: 0.2rem 0.1rem;
}
.seofields-google-result > div {
    pointer-events: none;
    width: 100%;
}

.seofields-google-result__headline {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #1a0dab;
}

.seofields-google-result__link {
    color: #006621;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    visibility: visible;
    white-space: nowrap;
    width: auto;
    zoom: 1;
}

.seofields-google-result__description {
    color: #545454;
    display: inline;
    font-size: 13px;
    height: auto;
    line-height: 18.2px;
    text-align: left;
    visibility: visible;
    width: auto;
    word-wrap: break-word;
    zoom: 1;
}

.fb-preview-container {
    padding: 1rem;
}
.fb-preview {
    margin: 0 auto;
    background-color: rgb(242, 243, 245);
    width: 500px;
}

.fb-text-wrap {
    padding: 10px 12px 10px 12px;
}

.fb-image-wrap {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 261px;
}

.fb-og-title {
    color: rgb(29, 33, 41);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 5px;
    overflow-wrap: break-word;
}

.fb-og-description {
    color: rgb(96, 103, 112);
    direction: ltr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
    max-height: 80px;
    overflow: hidden;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fb-url {
    color: rgb(96, 103, 112);
    direction: ltr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    font-size: 12px;
    line-height: 11px;
    overflow: hidden;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

}