{% import "_includes/forms" as forms %}

<input type="radio" name="tabs" id="twitter-tab" class="seofields-tab">
<label for="twitter-tab" class="label">{{ 'Twitter'|t('seo-fields') }}</label>
<div class="seofields-tab-content">
    <h1>Tab Three Content</h1>
</div>