{% import "_includes/forms" as forms %}

{% set allSections = craft.app.sections.getAllSections() %}
{% if allSections|length %}
    <table class="data fullwidth collapsible">
        <thead>
        <tr>
            <th>{{ 'Section'|t('seo-fields') }}</th>
            <th>{{ 'Type'|t('seo-fields') }}</th>
        </tr>
        </thead>
        <tbody>

        {% set schemaSettings = data.schema|json_decode %}
        {% set sectionSettings = schemaSettings.sections ?? [] %}
        {% for section in sections %}
            {% set settings = attribute(sectionSettings, section.id) ??  null %}
            <tr>
                <th>{{ section.name }}</th>
                <td>
                    {{ forms.selectizeField({
                        id: section.id,
                        name: 'data[sections]['~ section.id ~']',
                        options: options,
                        includeEnvVars: false,
                        allowedEnvValues: false,
                        value: settings ,
                    }) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}