{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * SEO Fields plugin for Craft CMS 3.x
 *
 * SeoField Field Input
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2019 Studio Espresso
 * @link      https://studioespresso.co
 * @package   SeoFields
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("studioespresso\\seofields\\assetbundles\\SeoFieldAsset") %}

<div class="tabs">
    {% if field.showGeneralTab %}
        {% include 'seo-fields/_components/fields/_tabs/_general.twig' %}
    {% endif %}
    {% if field.showFacebookTab %}
        {% include 'seo-fields/_components/fields/_tabs/_facebook.twig' %}
    {% endif %}
    {% if field.showTwitterTab %}
        {% include 'seo-fields/_components/fields/_tabs/_twitter.twig' %}
    {% endif %}
</div>


